@charset "utf-8";
*{margin: 0;padding: 0;}
html, body{width: 100%; -ms-overflow-style: none; font-size: 14px;}
::-webkit-scrollbar{display: none;}
ul,li{list-style: none;text-decoration: none;}
a{color: inherit;text-decoration: none;}
button, label, input{background:transparent;outline: none;border: none;}
img{border: none;}
header{width: 90%;height: 100px;margin: 0 auto;}
.wrap{width: 80%;margin: 0 auto;}

.ft{background: orange;width: 100%;height: 90px;clear: both;color: #666;}
.ft ul{padding-top: 20px;}
.ft li{text-align: center;}
.ft li.copy{font-weight: bold;}