@charset "utf-8";
 .hd{width: 100vw;height: 80px;}
.hd a.logo{background-image: url(../ico/mologo.png);
            background-repeat: no-repeat;background-size: contain; background-position: center center;}
.page{width: 100%;height: 100%;} 

.gnb{position: fixed; margin-right: 0; top: 120px; right: -110%; }
.gnb, .desk{display: none;}
.gnb.on{right: 0;} 
.hdwrap, .pg1wrap{width: 95%;margin: 0 auto;}
.desk{display: none;}
#page1{width: 100%;height: 100vh;background:palevioletred;clear: both;background-image: url(../img/main.jpg);background-position: center center; 
        background-size: cover;}
#page2{width: 100%;height: 100vh;background:purple;clear: both;}
#page3{width: 100%;height: 100vh;background:darkorchid;clear: both;}
#page4{width: 100%;height: 100vh;background:palevioletred;clear: both;}
#page5{width: 100%;height: 100vh;background:darkmagenta;clear: both;}
.ft{width: 100%;height: 90px;clear: both;}
.hd{width: 100%;height: 75px;position: fixed;padding-top: 10px;}
.hd a.logo{background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url(../ico/logo.png); 
    width: 75px;height: 77px;float: left;padding-top: 7px;padding-left: 30px;}

